/* * {
    margin: 0px;
    padding: 0px;
} */

* {-moz-user-select:none;-khtml-user-select:none;user-select:none;}

.nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(48, 141, 255);
    list-style: none;
    font-weight: bold;
    padding: 10px;
    justify-content: start;
    align-items: flex-end;
    z-index: 100;
    /*  border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 15px;
    margin-right: 15px; */
}

a {
    text-decoration: none;
    display: block;
}

.nav-items {
    display: flex;
    justify-content: end;
    width: 95%;
}

.nav-item {
    margin: 4px;
    padding: 8px 20px;
    display: block;
    transition: 1s;
    margin-bottom: 6px;
}

.nav-item:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
    /* font-size: 18px; */
    transition: 1s;
    box-shadow: 3px 3px 25px rgba(65, 65, 65, 0.486);
}

.text-write {
    color: aliceblue;
}

.text-write:hover {
    color: rgb(51, 163, 255);
    transition: .5s;
}

.textwrite {
    color: aliceblue;
}

.main-page {
    /* height: 89.336vh; */
    height: 600px;
    width: 100vw;
    overflow: hidden;
}

.page-1 {
    height: 90vh!important;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-title {
    font-size: 60px;
    font-weight: bold;
    margin: 0px;
    margin-top: 50px;
}

.title-2 {
    margin-top: 15px;
    font-size: 28px;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    -webkit-background-clip: text;
    height: 30px;
}

/* .nmsl {
    background-color: #fd9fff6e;
    border-radius: 8px;
    padding: 10px;
} */

.title-2-main::after {
    content: "_";
    animation: nmsl 40s infinite;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    -webkit-background-clip: text;
}

@keyframes nmsl {
    1% {
        content: "_";
    }

    2% {
        content: "_";
    }

    3% {
        content: "低_";
    }

    3.5% {
        content: "低延_";
    }

    4% {
        content: "低延迟_";
    }

    5% {
        content: "低延迟";
    }

    6% {
        content: "低延迟_";
    }

    7% {
        content: "低延迟";
    }

    8% {
        content: "低延迟_";
    }

    8.2% {
        content: "低延_";
    }

    8.4% {
        content: "低_";
    }

    8.6% {
        content: "_";
    }

    9% {
        content: "_";
    }

    10% {
        content: "_";
    }

    11% {
        content: "多_";
    }

    11.5% {
        content: "多插_";
    }

    12% {
        content: "多插件_";
    }

    13% {
        content: "多插件";
    }

    14% {
        content: "多插件_";
    }

    15% {
        content: "多插件";
    }

    16% {
        content: "多插件_";
    }

    16.2% {
        content: "低延_";
    }

    16.4% {
        content: "低_";
    }

    16.6% {
        content: "_";
    }

    17% {
        content: "_";
    }

    18% {
        content: "_";
    }

    19% {
        content: "全_";
    }

    19.5% {
        content: "全中_";
    }

    20% {
        content: "全中文_";
    }

    21% {
        content: "全中文";
    }

    22% {
        content: "全中文_";
    }

    23% {
        content: "全中文";
    }

    24% {
        content: "全中文_";
    }

    24.2% {
        content: "全中_";
    }

    24.4% {
        content: "全_";
    }

    24.6% {
        content: "_";
    }

    25% {
        content: "_";
    }

    26% {
        content: "_";
    }

    27% {
        content: "低_";
    }

    27.5% {
        content: "低延_";
    }

    28% {
        content: "低延迟_";
    }

    29% {
        content: "低延迟";
    }

    30% {
        content: "低延迟_";
    }

    31% {
        content: "低延迟";
    }

    32% {
        content: "低延迟_";
    }

    32.2% {
        content: "低延_";
    }

    32.4% {
        content: "低_";
    }

    32.6% {
        content: "_";
    }

    33% {
        content: "_";
    }

    34% {
        content: "_";
    }

    35% {
        content: "多_";
    }

    35.5% {
        content: "多插_";
    }

    36% {
        content: "多插件_";
    }

    37% {
        content: "多插件";
    }

    38% {
        content: "多插件_";
    }

    39% {
        content: "多插件";
    }

    40% {
        content: "多插件_";
    }

    40.2% {
        content: "低延_";
    }

    40.4% {
        content: "低_";
    }

    40.6% {
        content: "_";
    }

    41% {
        content: "_";
    }

    42% {
        content: "_";
    }

    43% {
        content: "全_";
    }

    43.5% {
        content: "全中_";
    }

    44% {
        content: "全中文_";
    }

    45% {
        content: "全中文";
    }

    46% {
        content: "全中文_";
    }

    47% {
        content: "全中文";
    }

    48% {
        content: "全中文_";
    }

    48.2% {
        content: "全中_";
    }

    48.4% {
        content: "全_";
    }

    48.6% {
        content: "_";
    }

    49% {
        content: "_";
    }

    50% {
        content: "_";
    }

    51% {
        content: "_";
    }

    52% {
        content: "_";
    }

    53% {
        content: "低_";
    }

    53.5% {
        content: "低延_";
    }

    54% {
        content: "低延迟_";
    }

    55% {
        content: "低延迟";
    }

    56% {
        content: "低延迟_";
    }

    57% {
        content: "低延迟";
    }

    58% {
        content: "低延迟_";
    }

    58.2% {
        content: "低延_";
    }

    58.4% {
        content: "低_";
    }

    58.6% {
        content: "_";
    }

    59% {
        content: "_";
    }

    60% {
        content: "_";
    }

    61% {
        content: "多_";
    }

    61.5% {
        content: "多插_";
    }

    62% {
        content: "多插件_";
    }

    63% {
        content: "多插件";
    }

    64% {
        content: "多插件_";
    }

    65% {
        content: "多插件";
    }

    66% {
        content: "多插件_";
    }

    66.2% {
        content: "低延_";
    }

    66.4% {
        content: "低_";
    }

    66.6% {
        content: "_";
    }

    67% {
        content: "_";
    }

    68% {
        content: "_";
    }

    69% {
        content: "全_";
    }

    69.5% {
        content: "全中_";
    }

    70% {
        content: "全中文_";
    }

    71% {
        content: "全中文";
    }

    72% {
        content: "全中文_";
    }

    73% {
        content: "全中文";
    }

    74% {
        content: "全中文_";
    }

    74.2% {
        content: "全中_";
    }

    74.4% {
        content: "全_";
    }

    74.6% {
        content: "_";
    }

    75% {
        content: "_";
    }

    76% {
        content: "_";
    }

    77% {
        content: "低_";
    }

    77.5% {
        content: "低延_";
    }

    78% {
        content: "低延迟_";
    }

    79% {
        content: "低延迟";
    }

    80% {
        content: "低延迟_";
    }

    81% {
        content: "低延迟";
    }

    82% {
        content: "低延迟_";
    }

    82.2% {
        content: "低延_";
    }

    82.4% {
        content: "低_";
    }

    82.6% {
        content: "_";
    }

    83% {
        content: "_";
    }

    84% {
        content: "_";
    }

    85% {
        content: "多_";
    }

    85.5% {
        content: "多插_";
    }

    86% {
        content: "多插件_";
    }

    87% {
        content: "多插件";
    }

    88% {
        content: "多插件_";
    }

    89% {
        content: "多插件";
    }

    90% {
        content: "多插件_";
    }

    90.2% {
        content: "低延_";
    }

    90.4% {
        content: "低_";
    }

    90.6% {
        content: "_";
    }

    91% {
        content: "_";
    }

    92% {
        content: "_";
    }

    93% {
        content: "全_";
    }

    93.5% {
        content: "全中_";
    }

    94% {
        content: "全中文_";
    }

    95% {
        content: "全中文";
    }

    96% {
        content: "全中文_";
    }

    97% {
        content: "全中文";
    }

    98% {
        content: "全中文_";
    }

    98.2% {
        content: "全中_";
    }

    98.4% {
        content: "全_";
    }

    98.6% {
        content: "_";
    }

    99% {
        content: "_";
    }

    100% {
        content: "_";
    }
}

.title-2-hover {
    transition: all 1s ease-in-out;
}

.title-2-hover:hover {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #3300fc, #95008a, #eb0000);
    -webkit-background-clip: text;
    transition: all 1s ease-in-out;
}


.img-1 {
    border-radius: 10px;
    position: relative;
    transition: all 1s ease-in-out;
    animation-name: pic-down;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

.img-1:hover {
    box-shadow: none!important;
    animation-name: pic-on;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

/* .img-1:hover .img-1::after{
    animation-name: pic-down;
    animation-duration: 1s;
} */

.dl-main {
    height: 350px;
    width: 600px;
    background-color: rgb(52, 52, 52)!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px!important;
    position: fixed;
    bottom: 1850px!important;
    top: 500px!important;
}

.dl-title {
    font-size: 35px;
    font-weight: bolder;
    color: rgb(194, 194, 194);
}
.dl-list {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.dl-xx {
    margin-right: 80px;
    margin-top: 0px;
}

.dl-sc {
    margin-top: 0px;
}

.dl--title {
    font-size: 30px;
    font-weight: bold;
    color: rgb(194, 194, 194);
}

.dl-btn {
    text-underline-position: none;
    color: rgb(52, 52, 52)!important;
    background-color: rgb(194, 194, 194);
    border-radius: 5px;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 20px;
}

.main-dl {
    height: 100px;
    width: 100vw;
    border-top: 10px solid transparent;
    background-image: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    -webkit-background-clip: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.ip {
    margin-top: 40px;
    color: rgb(156, 155, 155);
    -moz-user-select: text;
    -khtml-user-select: text;
    user-select: text;
}

.member {
    height: 700px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.member-title {
    font-size: 40px;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    -webkit-background-clip: text;

}

.member-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.member-1 {
    border: 1px solid black;
    margin-right: 50px;
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 0px;
    border-radius: 10px;
    background-color: #484848;
    color: aliceblue;
}

.member-2 {
    height: 450px;
    width: 300;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 0px;
    border-radius: 10px;
    background-color: #484848;
    color: aliceblue;
}

.member-zw {
    font-weight: bold;
    font-size: 46px;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.member-name {
    font-weight: bold;
    font-size: 30px;
    margin-top: 35px;
}

.cant-download-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
    color: transparent;
    background-image: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    -webkit-background-clip: text;
}

.back-btn {
    overflow: hidden;
    display: flex;
    background-image: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    font: 20px sans-serif;
    color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    font-weight: bold;
    width: 80px;
    transition: width 1s;
    -webkit-transition: width .8s;
    max-height: 30px;
}

.arror {
    display: none;
    margin-left: 30px;
    font: 1em sans-serif;
    font-weight: bold;
    transition: margin 1s;
    -webkit-transition: margin 1s;
}

.back-btn:hover{
    width: 133px;
}

.back-btn:hover .arror{
    display: block;
    font-weight: bold;
}


footer {
    height: 50px;
    width: 100vw;
    background-image: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    bottom: 0px;
    left: 0px; */
}

.footer-main {
    font-weight: bold;
    color: aliceblue;
}

.footer-a {
    display: inline-block;
    text-underline-offset: none;
    background-color: aliceblue;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin-left: 4px;
}

@keyframes pic-on {
    0% {
        bottom: 0px;
    }
    /* 50% {
        bottom: 10px;
    } */
    100% {
        bottom: 20px;
    }
}

@keyframes pic-down {
    0% {
        bottom: 20px;
    }
    /* 50% {
        bottom: 10px;
    } */
    100% {
        bottom: 0px;
    }
}